/nbproject/private/
/src/TelaPrincipal/nbproject/private/
/src/TelaCadCampeonato/nbproject/private/
/src/CadJogadores/nbproject/private/
/src/Tela Estatisticas/nbproject/private/
/src/CadJogadores/dist/
/src/CadJogadores/build/
/src/TelaPrincipal/build/
/src/TelaCadCampeonato/dist/
/src/Tela Estatisticas/build/
/src/Tela Estatisticas/dist/
/src/TelaCadCampeonato/build/
/src/TelaPrincipal/dist/
